<footer class="main-footer">
    <strong>Copyright &copy; <span id="currentfullyearforclientfooter"></span> <a href="">Ariel</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>


<script>

    document.getElementById("currentfullyearforclientfooter").innerHTML = new Date().getFullYear();

</script>